<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.studizprototype">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.StudizPrototype">
        <activity android:name=".search"/>
        <activity android:name=".health"/>
        <activity android:name=".loginScreen"/>
        <activity android:name=".sport" />
        <activity android:name=".beauty" />
        <activity android:name=".transport" />
        <activity android:name=".fashion" />
        <activity android:name=".shopping" />
        <activity
            android:name=".freetime"
            android:label="@string/catfreetime"/>
        <activity
            android:name=".it"
            android:label="It"/>
        <activity
            android:name=".restaurant"
            android:label="@string/catrestaurant"/>
        <activity
            android:name=".books"
            android:label="@string/catbooks" />
        <activity
            android:name=".bar"
            android:label="@string/catbar"/>
        <activity
            android:name=".categories"
            android:label="@string/title_activity_kategorier"/>
        <activity
            android:name=".Settings"
            android:label="@string/settings"/>
        <activity
            android:name=".Studiekort"
            android:label="@string/Studiekort"/>
        <activity
            android:name=".Kategorier"
            android:label="@string/title_activity_kategorier" />
        <activity android:name=".ClickedItemActivity" />
        <activity
            android:name=".homepage1"
            android:label="@string/title_activity_homepage1" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>