<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.studizprototype">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.StudizPrototype">
        <activity android:name=".books"></activity>
        <activity android:name=".bar" />
        <activity android:name=".categories" />
        <activity android:name=".Settings" />
        <activity android:name=".Studiekort" />
        <activity
            android:name=".Kategorier"
            android:label="@string/title_activity_kategorier" />
        <activity android:name=".ClickedItemActivity" />
        <activity
            android:name=".homepage1"
            android:label="@string/title_activity_homepage1" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>